.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order {
    height: 100vh;
    color: #F3F6FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next {
    font-size: large;
    background: none;
    border-radius: 50px;
    padding: 0.8em 2em;
    color: #F3F6FB;
    text-decoration: none;
}

.hid {
    visibility: hidden;
    font-size: large;
    background: none;
    border-radius: 50px;
    padding: 0.8em 2em;
    color: #F3F6FB;
}

.orderBtn {
    margin-top: 1em;
}
