.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order {
    height: 100vh;
    color: #F3F6FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next {
    display: block;
}

.hid {
    visibility: hidden;
}
