.home {
    height: 100vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 0 0.5em;
    text-align: center;
    padding-bottom: 1em;
    color: #FF4996;
    font-size: 2.5em;
    font-weight: 300;
    text-shadow:
        0 0 7px #e4347d,
        0 0 21px #b9617a,
        0 0 42px #000; 
}

.btn {
    background: none;
    border: 3px #ffd9e5 solid;
    color: #ffd9e5;
    border-radius: 50px;
    font-size: x-large;
    padding: 1em;
    cursor: pointer;
}


@media only screen and (min-width: 600px)  {   
    .header {
        font-size: 3.2em;
        font-weight: 300;
    }
}
