.navbar {
    position: fixed;
    top: 0;
    margin: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
}

.headerContainer {
    width: 60%;
}

.title {
    margin: 0 0 0 0.9em;
    font-size: 1.3rem;
    color: #F3F6FB;
    font-weight: 700;
    padding-bottom: 0.5em;
}



@media only screen and (min-width: 600px) {    
    .navbar {
        flex-direction: row;
    }
    
    .headerContainer {
        border-bottom: 2px #752c92 solid;
    }

    .title {
        font-size: 1.6rem;
        text-align: left;
        padding-bottom: 0.8em;
    }
}

@media screen and (min-width: 900px) {
    .headerContainer {
        width: 63%;
    }
}

@media screen and (min-width: 1300px){
    .headerContainer {
        width: 80%;
    }
}
